.card-img{
    height: 400px;
    background-color: none;
}
.card{
    width: 600px;
    height: 600px;
    padding: 20px;
    background: lightcyan;
    border: 2px solid lightblue;
    border-radius: 50px;
}