.header{
    background-image: url('https://demo.hasthemes.com/patshala/images/slide-04-1920x810.jpg');
    height: 600px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}