.header{
    background-image: url('https://demo.hasthemes.com/patshala/images/slide-04-1920x810.jpg');
    height: 600px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
nav{
    background-color: rgb(255, 255, 255);
    opacity: 0.7;
    padding: 15px;
}
nav img{
    width: 80px;
    height: 80px;
    padding: 0;
}
.navLink{
    padding: 20px;
    font-size: larger;
    color: black;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}
